body {
	background-image: url("../image/D1028_49_409_1200.jpg");
	/* background-size: stack; */
	background-attachment: fixed;
}

.hero {
	background-color: antiquewhite;
	text-align: center;
	font-family: 'IM Fell DW Pica SC', serif;
}
.title {
	font-size: 36px;
}
.imputContainer {
	background-color: antiquewhite;
	font-family: 'Courgette', cursive;
	text-align: center;
	margin-top: 65px;
}

.input {
	font-family: 'Courgette', cursive;
	width: 325px;
	height: 25px;
	font-size: 25px;
}
.Sbtn {
	font-family: 'Courgette', cursive;
	font-size: 35px;
	background-color: antiquewhite;
	/* outline: antiquewhite; */
	border: none;
	background: none;
}
.form-check {
    display: inline-block;
    padding-right: 10px;
}

.results {
	background-color: antiquewhite;
	font-family: 'Courgette', cursive;
	text-align: center;
    margin-top: 65px;
    font-size: 19px;
}

#other {
	font-family: 'Courgette', cursive;
}

#result {
	color: white;
}

.card {
	display: block;
}

.book {
	background-color: antiquewhite;
	font-family: 'Courgette', cursive;
	text-align: center;
	font-size: 19px;
	color: black;
}

button {
	display: block;
	margin: 0 auto;
	border-radius: 2px;;
	
}
